
.explain
  .top_part.explain_main
    .explain_icon.separation-5.separation-only-right.inline-block
    .explain_text.separation-5.separation-only-left.background_main.inline-block
      Viñeta Estudio es una editorial web, orientada a la creación, publicación y difusión de la historieta Chilena. Con la particularidad de exponer y contar a traves de las historias, experiencias, sueños, cultura que pertenecen a nuestra idiosincracia; usando también con ello estilos y técnicas de dibujo, dandole así la expresión necesaria para el gusto del lector.
  .bottom_part
    .mision_main
      .explain_text.background_main.inline-block
        %p
          La misión de Viñeta estudio está enfocada en aportar al desarrollo de la cultura de la ilustración en Chile, proponiendo, generando y difundiendo el arte de la historieta nacional. Y por qué no decirlo, una fuente de ingreso la cual permita generar recursos tales que logren hacer de este estudio uno importante dentro de la contingencia.
      .mision_icon.inline-block.separation-5.separation-only-left
    .vision_main
      .explain_text.background_main.inline-block
        %p
          Como visión de futuro es buscar el posicionamiento dentro del rubro, lograr con ello ingresos monetarios, identidad y reconocimiento del medio cultural y social, generando asi un modelo de negocio que recién se está desarrollando con mayor fuerza despues de mucho tiempo en Chile.
      .vision_icon.separation-5.separation-left-top.inline-block

= partial "layouts/nav_buttons"