-content_for :header_title do
  ="- Historias"
=link_to "mangas/naranja" do
  .third_left.naranja_manga
=link_to "#" do
  .third_middle.pin_manga
=link_to "#" do
  .third_right.no_manga
= partial "layouts/nav_buttons"