//= require_tree .
@charset "utf-8";

body{
  background: #252324;
  color: white;
  font-size: 0;
  font-family: arial, sans-serif;
}

a{
  color: inherit;
  text-decoration: none;
}
a:active{
  color: inherit;
  text-decoration: none;
}
a:visited{
  color: inherit;
  text-decoration: none;
}

.header{
  background-color: black;
  border-bottom: solid 1px #393838;
}

.wrapper-body{
  width: 610px;
  margin-left: auto;
  margin-right: auto;
}

.separation-5{
  margin: 2.5px;
  vertical-align: text-bottom;
  box-sizing: border-box;
}

.separation-only-left{
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
}

.separation-only-right{
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
}

.separation-only-bottom{
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
}

.separation-only-top{
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.separation-unless-bottom{
  margin-bottom: 0px;
}

.separation-only-sides{
  margin-bottom: 0px;
  margin-top: 0px;
}

.separation-left-bottom{
  margin-top: 0px;
  margin-right: 0px;
}

.separation-left-top{
  margin-bottom: 0px;
  margin-right: 0px;
}

.inline-block{
  display: inline-block;
}

.left-element{
  @extend .separation-5;
  @extend .separation-only-right;
  @extend .inline-block;
}

.right-container{
  @extend .separation-5;
  @extend .separation-only-left;
  @extend .inline-block;

  .right-top-element{
    @extend .separation-5;
    @extend .separation-only-bottom;
    @extend .inline-block;
  }

  .right-bottom-container{
    @extend .separation-5;
    @extend .separation-only-top;

    .left-bottom-element{
      @extend .separation-5;
      @extend .separation-only-right;
      @extend .inline-block;

    }
    .right-inner-container{
      @extend .separation-5;
      @extend .separation-only-left;
      @extend .inline-block;

      .right-bottom-top-element{
        @extend .separation-5;
        @extend .separation-only-bottom;
        @extend .inline-block;
      }
      .right-bottom-bottom-element{
        @extend .separation-5;
        @extend .separation-only-top;
      }
    }
  }
}

.half_left{
  margin-right: 3px;
  @extend .inline-block;
}
.half_right{
  margin-left: 3px;
  @extend .inline-block;
}

.third_size{
  width: 200px;
  height: 416px;
}

.third_left{
  @extend .separation-5;
  @extend .separation-only-right;
  @extend .third_size;
  @extend .inline-block;
}

.third_middle{
  @extend .separation-5;
  @extend .separation-only-sides;
  @extend .third_size;
  @extend .inline-block;
}

.third_right{
  @extend .separation-5;
  @extend .separation-only-left;
  @extend .third_size;
  @extend .inline-block;
}

.data_form{
  @extend .separation-5;
  @extend .separation-only-right;
  @extend .inline-block;
  background-color: #0086CC;

  width: 400px;
  height:416px;
}
.contact_right{
  @extend .separation-5;
  @extend .separation-only-left;
  @extend .inline-block;
}

.top_part{
  @extend .separation-5;
  @extend .separation-only-bottom;
}

.bottom_part{
  @extend .separation-5;
  @extend .separation-only-top;
}

.mails{
  @extend .separation-5;
  @extend .separation-only-bottom;
  @extend .inline-block;
  width: 205px;
  height: 364px;

  background: image-url("contacto/cartas.jpg") no-repeat;
}

.send_form{
  @extend .separation-5;
  @extend .separation-only-top;

  width: 205px;
  height: 47px;


  background: image-url("contacto/boton-enviar.jpg") no-repeat;
  &:hover{
    background: image-url("contacto/boton-enviar-over.jpg") no-repeat;
  }
}

.background_main{
  background-color: #2473BD;
}

