.header
  .wrapper-body
    .header_icon
      .logo
        %a{href: "/"}
          .main_logo

      .social_header
        =link_to "/socials/facebook" do
          .social_logo.logo_facebook
        =link_to "/socials/twitter" do
          .social_logo.logo_twitter
        %a{href: "http://www.devianart.org"}
          .social_logo.logo_devian
.wrapper-body
  .header_info
    -if content_for? :header_title
      = yield_content :header_title