-content_for :header_title do
  ="- Operación Naranja - capitulo 1"

.manga_nav_buttons.top
  .visor_mis_buttons.inline-block
    .manga_nav_button.home_button
    .manga_nav_button.squares
  .visor_nav_buttons.inline-block
    .manga_nav_button.text.manga_page_change
      %p
        Página
      %select{id: "select_page"}
        -(1..6).each do |i|
          -selected = i==page
          %option{:value => i, :selected => selected}= i

    =link_to "", "#main_page", class: "manga_nav_button plus_minus"
    .manga_nav_button.arrows.left_arrow
    .manga_nav_button.arrows.right_arrow

.manga_page{id: "main_page"}
  =image_tag "mangapages/pagina-ampliada-#{page}.jpg", class: "manga_page_img"

.manga_nav_buttons.top
  .visor_mis_buttons.inline-block
    .manga_nav_button.home_button
    .manga_nav_button.squares
  .visor_nav_buttons.inline-block
    .manga_nav_button.text.manga_page_change
      %p
        Página
      %select
        -(1..6).each do |i|
          -selected = i==page
          %option{:value => i, :selected => selected}= i

    .manga_nav_button.plus_minus
    .manga_nav_button.arrows.left_arrow
    .manga_nav_button.arrows.right_arrow

:javascript
  var normal_image = true;
  var width_size = 610;
  var img = new Image();
  img.src = $(".manga_page_img").attr("src");
  $(img).load(function() {
    if(this.width > width_size){
      $(".plus_minus").click(function(){
        if(normal_image){
          $(".manga_page").css("margin-left", "-140px");
          $(".manga_page_img").css("width", "auto");
        }
        else{
          $(".manga_page").css("margin-left", "");
          $(".manga_page_img").css("width", width_size+"px");
        }

        normal_image = !normal_image;
      })
    }
  });
  

  $("#select_page").change(function(){
    window.location.href = "pag"+$(this).val();
  });
