-content_for :header_title do
  ="- Autores"
=link_to "", "/authors/kevin", class: "half_left profile_pic_big kevin_big"
=link_to "", "#", class: "half_right profile_pic_big jony_big"
= partial "layouts/nav_buttons"