.left-element.historias
.right-container
  .right-top-element.autores
  .right-bottom-container
    .left-bottom-element.arte
    .right-inner-container
      .right-bottom-top-element.quienes-somos
      .right-bottom-bottom-element.contacto