=link_to "mangas" do 
  .left-element.historias
.right-container
  =link_to "", "/authors", class: "right-top-element autores"
  .right-bottom-container
    =link_to "", "#", class: "left-bottom-element arte"
    .right-inner-container
      =link_to "", "explain", class: "right-bottom-top-element quienes-somos"
      =link_to "contact" do
        .right-bottom-bottom-element.contacto